.root {
	ul {}

	li {
		display: inline-flex;

		&:not(:last-child) {
			margin-right: 10px;
		}

		a {
			display: inline-flex;

			color: #8bb43c;

			justify-content: center;
			align-items: center;
			width: 45px;
			height: 45px;

			padding: 10px;
			border: 1px solid #8bb43c;
			border-radius: 30px;
			cursor: pointer;



			&:hover {
				background-color: #8bb43c;
				color: #fff;
				transition: 0.2s all;

			}
		}
	}

	:global {
		.selected {
			a {
				background-color: #8bb43c;
				color: #fff;
			}
		}
	}
}